*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
background:#020617;
padding:20px;
position:sticky;
top:0;
z-index:100;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1100px;
margin:auto;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:500;
}

.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.profile-img{
width:160px;
height:160px;
border-radius:50%;
margin-bottom:20px;
border:4px solid #38bdf8;
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

.hero p{
opacity:0.8;
margin-bottom:20px;
}

button{
padding:12px 25px;
border:none;
background:#38bdf8;
color:black;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

section{
padding:80px 20px;
text-align:center;
max-width:1000px;
margin:auto;
}

.about p{
margin-top:20px;
line-height:1.7;
opacity:0.85;
}

.skills-grid{
margin-top:30px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skill-card{
background:#1e293b;
padding:25px;
border-radius:10px;
font-weight:bold;
}

.resume-btn{
display:inline-block;
margin-top:25px;
padding:14px 28px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:6px;
font-weight:bold;
}

.contact form{
display:flex;
flex-direction:column;
gap:15px;
margin-top:25px;
}

.contact input,
.contact textarea{
padding:12px;
border:none;
border-radius:5px;
}

footer{
background:#020617;
text-align:center;
padding:20px;
margin-top:40px;
}